.home {
  border: 1px solid black;
  padding-inline: 16px;

  p {
    padding-inline-start: 8px;
  }

  &__selected-city {
    width: fit-content;
    margin: 16px auto 0;
    display: block;
    border: none;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &__items-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  .home {
    &__items-holder {
      flex-direction: column;
    }
  }
}
