.home {
  height: 100vh;
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__main {
    border: 1px solid black;
    h2 { 
      padding-inline-start: 8px;
    }
  }
  &__selected-city {
    text-align: center;
    select {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  &__weather-info-wrapper > div {
    width: 100%;
    padding-inline: 16px;
  }
  &__weather-info-today,
  &__weather-info-four-days-later {
    display: flex;
    justify-content: space-between;
  }
}
